*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./pexels-pixabay-262918.jpg);
    height: 100vh;
    margin: 0;
    padding: 0;
}
.header {
    color:rgb(75, 11, 11);
    font-weight: 700;
    text-align: center;
    font-size: 45px;
  
    
}
.button{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    cursor:pointer;
    border: solid 1px;
    background-color:rgb(247, 105, 105);
    color:rgb(75, 11, 11);
    margin-top: 40px;
    margin-left: 55px;
 
      
}
#add{
    margin-left: 550px;
}
h1{
    margin-bottom: 38px;
    color:rgb(75, 11, 11);
    text-shadow: 10px 10px 20px rgb(231, 164, 164);
}
.result{
    font-weight: 700;
    text-align: center;
    font-size: 35px;
    margin-top: 35px;
    background-color: rgb(247, 105, 105);
    color:rgb(75, 11, 11);   
}
